<!doctype html>
<html class="{% if fullscreen %}fullscreen{% endif %}">
<head>
    <title>{{ project_name }}</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bootstrap.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.6.1.js') }}"></script>
    <script src="{{ url_for('login_js') }}"></script>
</head>

<body>
<div class="container">
<nav class="navbar navbar-default">
    <div class="container-fluid">
    <div class="navbar-brand navbar-brand-link"><a href="{{ url_for('index') }}">{{ project_name }}</a></div>
    <ul class="nav navbar-nav">
        {% block toplinks %}
        {% endblock %}
        <li><a href="{{ url_for('about') }}">About</a>
        {% if current_user.is_authenticated %}
        <li class="nav-item"><a class="nav-link" href="logout">Log Out ({{ current_user.id }})</a></li>
        {% else %}
        <li class="nav-item"><a class="nav-link" href="login">Log In</a></li>
        {% endif %}
    </ul>
    {% block extras %}{% endblock %}
    </div>
</nav>
<header>
    {% block header %}{% endblock %}
</header>
<section class="content">
    {% block content %}{% endblock %}
</section>
<footer class="footer bg-light">
    <ul>
        <li>{{ project_name }} is part of <a href="https://za3k.com/hackaday">Hack-A-Day</a>, a challenge to code one new project a day in November.</li>
        <li>Source code is available on <a href="{{ source_url }}">github</a></li>
    </ul>
</div>
</div>
</body>
</html>
